<form class="flex mt-4" method="post" action="/addtodo">


<input type="text" name="todo" class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
    placeholder="Add Todo">
<input type="submit"
    class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal" value="Add">

</form>